


 .edit-form {
  max-width: 650px !important ;
  margin: auto;
}

.card {
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card-header {
  border-radius: 15px 15px 0 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.form-label,
p-floatLabel label {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #495057 !important;
  background-color: #fff !important;
  padding: 0px 4px;
  border-radius: 4px;
  height: 12px ;
}


input,
textarea,
p-multiSelect {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  color: #212529 !important;
}


input,
textarea,
p-multiSelect:focus,
p-inputNumber:focus {
  border-color: #5355552d;
  outline: none;
}

.p-inputtext {
  background-color: #fff !important;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  color: #212529;
  width: 100%;
}

p-datepicker,
p-inputNumber {
  background-color: #fff !important;
  height: 55px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.text-danger {
  font-size: 14px !important;
  margin-top: 4px;
  font-weight: 400;
}

button {
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-success {
  background: linear-gradient(135deg, #198754, #28a745);
  border: none;
}

.btn-primary {
  background: linear-gradient(135deg, #0d6efd, #0b5ed7);
  border: none;
}